<body>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class = "container">
<nav class="fixed-nav-bar">
<h1>
=image_tag "icuc_logo_gray.png", :class => "icuc_logo"
</h1>

<ul>
<li>
<a href="/about">About</a></li>
</ul>
<ul>
<li><a href="/">Home</a></li>
</ul>
</nav>



<header>
<div class = "page_body">
%h3 About ICUC
%p ICUC is a ruby on rails application that computes the image quality metrics for an eye using a set of Zernike polynomials as input. 

The goal is to use this application to teach optometry students about the imperfections of the eye. 
%br
%br
%p A team of Fall 2017 <a href="http://cs169.saas-class.org/">CS 169</a> students built this 'greenfield' application for UC Berkeley Professor of Optometry, <a href="http://roorda.vision.berkeley.edu/">Austin Roorda</a>.
%br
=image_tag "Roorda_Austin.jpg"


</div>
</div>
</body>