%h1 Image output of the Zernike equation

= image_tag "pic1.png"
%br/


// %a{:href => "Download", :download => "images/pics.png", :target => "blank"}
= link_to "Compute Zernike equation", new_zernike_path
// = link_to "Back to home page", zernikes_path