<body>
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class = "container">
<nav class="fixed-nav-bar">
<h1>
=image_tag "icuc_logo_gray.png", :class => "icuc_logo"
</h1>

<ul>
<li><a href="/">Home</a></li>
</ul>

<ul>
<li>
<a href="/about">About</a></li>
</ul>
</nav>
</div>
<header>
<div class = "page_body">
%h2 Read Zernike Coefficients from a File
= form_for 'zernike', :multipart=>true  do |f|
  = f.label :attachment
  = f.file_field :attachment, :accept => "text/zer"

  = f.submit "Upload", class: "btn btn-primary",:id =>"upload_button", class: "btn btn-default"

  // significant help from "http://www.tutorialspoint.com/ruby-on-rails/rails-file-uploading.htm"
</div>
</div>
</body>