/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    font-family: "Avenir Next" !important;
    color: #2E647E;
    margin: 25px;
    /*display:flex;*/
}

.input_coefficients .button_to{
    display: inline;
    padding: 3%;
}

.parameters_header, .zernikes_header {
    /*background-color: #2E647E;*/
    color: #17355D;
    text-align: left;
}

.zernike_pyramid {
    /*background-color: black;*/
}

.box1 h3, .box2 h3, .box3 h3 {
    margin: 0px;
    padding:0px;
    /*border:1px solid blue;*/
    /*background-color: black;*/
    /*color: white;*/
    /*text-align: center;*/
}

h1 {
    display:inline-block;
    
}

h1 .h1color2 {
    color:#F2A900;
}

h1 .h1color {
    color: #17355D;
}
/*h1{*/
/*    border:1px solid #a3a3a3;*/
/*	position:relative;*/
/*	background: #f9f9f9;*/
/*	border-radius:2px;*/
/*	padding:13px 13px 13px 20px;*/
/*	background: (top,  #f9f9f9 0%, #f9f9f9 51%, #f9f9f9 52%, #f2f2f2 52%, #f2f2f2 100%);*/
/*background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 51%,#f9f9f9 52%,#f2f2f2 52%,#f2f2f2 100%);*/
/*background: linear-gradient(to bottom,  #f9f9f9 0%,#f9f9f9 51%,#f9f9f9 52%,#f2f2f2 52%,#f2f2f2 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );*/

/*	&:before{*/
/*    content:'';*/
/*	display:inline-block;*/
/*    position: absolute;*/
/*    top:0;*/
/*    bottom:0;*/
/*    left:7px;*/
/*    right:auto;*/
/*	width:6px;*/
/*	height:60%;*/
/*	margin:auto;*/
/*	background:#5db243;	*/
/*	}*/
/*}*/
#input_zernikes {
    text-align: center;
}

.form-group {
  display: inline-block;
}

.center
{
  text-align: center;
}




/*header{*/
/*background-color: #FFF;*/
/*margin:0;*/
/*padding:0;*/
/*width: 100%;*/
/*}*/

nav{
    display:inline;
    float:right;
    float: rig;
}
nav li {
    float: right;
}

nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
    float: right;
}


nav ul li{
    display:inline-block;
    font-family: 'Avenir Next' !important;
    font-size: 1.2em;
    line-height: 70px;
    height: 70px;
    padding: 10px;
    text-transform: uppercase;
   
}

nav a {
  color: #17355D;
  text-decoration: none;

}

.btn {
    font-family: "Avenir Next" !important
}

.container {
    padding: 15px;
    
}

label {
    font-weight: 100;
}

.icuc_logo{
	height:50px;

	
}

.page_body {
    padding-top: 60px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background-color: #eaecef;
    padding-left: 25px;
    padding-right: 25px;
    
}