/*Mixin for the animation 
** Same animation, just different duration :)
*/
@mixin animation($duration){
  animation: spin $duration infinite linear;
}

/*Variables */
$width: 100;
$height: 100;
$margin-top:  -($width / 2)  + px;
$margin-left: -($width / 2)  + px;

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url('images/cal.png');
  background-repeat: y-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
.loader {
  background-image: url('images/cute.gif');
  background-repeat: no-repeat fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: $margin-top;
  margin-left: $margin-left;
  border: 3px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  z-index: 1001;
  @include animation(1.5s);
  &:before, &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  &:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    @include animation(2s);
  }
  &:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    @include animation(1s);
  }
}
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Section */

.loader-section{
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  // if we want a more professional look, 
  // these following colors would work.
  //background: #222;
  //background: #cccccc;
  z-index: 1000;
//   &.section-left {
//     left: 0;
//     background-image: url('images/cute.gif');
//     background-repeat: no-repeat;
//     background-size: 100%;
//   }
//   &.section-right{
//     right: 0;
//     background-image: url('images/cute.gif');
//     background-repeat: no-repeat;
//     background-size: 100%;
//   }
}



/*Finished Loading Styles*/
.loaded {
//   .section-left {
//      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
//     transform: translateX(-100%);
//   }
//   .section-right {
//      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
//     transform: translateX(100%);
//   }
  .loader {
    transition: all 0.3s ease-out;
    opacity: 0;
  }
  .loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
   }
}




/*Content*/
.content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}
